<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Monstr Hunter Info</title>

    <link href="../styles/style.css" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>

  <body>
    <audio src="MHFU.mp3" autoplay></audio>

    <header class="baner">
      <h1>
        <strong><em> Monster Hunter Info </em></strong>
      </h1>

      <a href="../index.html" class="link">Inicio</a>
    </header>

    <br /><br />

    <h2 class="titulo">
      <em><strong> Monster Hunter </strong></em>
    </h2>

    <br /><br />

    <h4 class="texto">
      La saga de video juegos Monster Hunter, cuenta actualmente con 6
      generaciones de juegos, empezando en 2004 para la PlayStation 2.
      Continuando con su producción y distribución de entregas hasta la
      actualidad (2025) con su más reciente entrega Monster Hunter wilds.
    </h4>

    <br /><br />
    <div class="all">
      <p class="texto_pre_img">
        La primera <sup>1ra</sup> generación, cuenta con <sub>2</sub> entregas
      </p>

      <div data-aos="fade-right"
           data-aos-offset="300"
           data-aos-easing="ease-in-sine">
        <img src="/../assets/MH.jpg" height="500" width="400" />
      </div>

      <br />
      <p class="texto_pre_img">
        La segunda <sup>2da</sup> generación, cuenta con <sub>2</sub> entregas
      </p>

      <div data-aos="fade-left">
        <img src="/../assets/Freedom unite.jpg" height="500" width="400" />
      </div>

      <br />
      <p class="texto_pre_img">
        La tercera <sup>3ra</sup> generación, cuenta con <sub>3</sub> entregas
      </p>

      <div data-aos="fade-up-right">
        <img src="/../assets/MH3U.jpg" height="500" width="400" />
      </div>

      <br />
      <p class="texto_pre_img">
        La Cuarta <sup>4ta</sup> generación, cuenta con <sub>2</sub> entregas
      </p>

      <div data-aos="fade-up-left">
        <img src="/../assets/MH4U.jpg" height="500" width="400" />
      </div>

      <br />
      <p class="texto_pre_img">
        La quinta <sup>5ta</sup> generación, cuenta con <sub>2</sub> entregas
      </p>

      <div data-aos="fade-down-right">
        <img src="/../assets/World.jpg" height="500" width="400" />
      </div>

      <br />
      <p class="texto_pre_img">
        La sexta <sup>6ta</sup> generación, cuenta con <sub>1</sub> entregas
      </p>

      <div data-aos="zoom-in-right">
        <img src="/../assets/Wilds.jpg" height="500" width="400" />
      </div>

    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />

    <a
      href="https://monsterhunter.fandom.com/es/wiki/Saga_Monster_Hunter"
      target="_blank"
      class="link"
      >Wiki de Monster Hunter</a
    >

    <br /><br /><br /><br /><br /><br /><br /><br />

    <h3 class="texto_pre_img">
      <strong><em> Galería de imágenes </em></strong>
    </h3>

    <section class="galeria">
      <img src="/../assets/MH.jpg" />
      <img src="/../assets/MH2.jpg" />
      <img src="/../assets/Freedom.jpg" />
      <img src="/../assets/Freedom 2.jpg" />
      <img src="/../assets/Freedom unite.jpg" />
      <img src="/../assets/MH3.jpg" />
      <img src="/../assets/Portable 3 rd.jpg" />
      <img src="/../assets/MH3U.jpg" />
      <img src="/../assets/MH4U.jpg" />
      <img src="/../assets/MHGU.jpg" />
      <img src="/../assets/World.jpg" />
      <img src="/../assets/Rise.jpg" />
      <img src="/../assets/Wilds.jpg" />
    </section>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
      AOS.init();
    </script>

  </body>
</html>
