<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Hunter Info</title>

    <link href="../styles/style.css" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico"> 
  </head>

  <body>
    <audio src="../assets/MHFU.mp3" autoplay loop></audio>

    <header class="baner">
      <h1>
        <strong><em> Monster Hunter Info </em></strong>
      </h1>
      <a href="../index.html" class="link">Inicio</a>
    </header>

    <br /><br />

    <h2 class="titulo">
      <em><strong> Monster Hunter </strong></em>
    </h2>

    <br /><br />

    <h4 class="texto">
      La saga de videojuegos Monster Hunter cuenta actualmente con 6
      generaciones de juegos, empezando en 2004 para la PlayStation 2.
      Continuando con su producción y distribución de entregas hasta la
      actualidad (2025) con su más reciente entrega Monster Hunter Wilds.
    </h4>

    <br /><br />

    <div class="all">
      <p class="texto_pre_img">
        La primera <sup>1ra</sup> generación cuenta con <sub>2</sub> entregas.
      </p>
      <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <img src="../assets/MH.jpg" alt="Monster Hunter 1" height="500" width="400" />
      </div>

      <br />
      <p class="texto_pre_img">
        La segunda <sup>2da</sup> generación cuenta con <sub>2</sub> entregas.
      </p>
      <div data-aos="fade-left">
        <img src="../assets/Freedom unite.jpg" alt="MHFU" height="500" width="400" />
      </div>

      <br />
      <p class="texto_pre_img">
        La tercera <sup>3ra</sup> generación cuenta con <sub>3</sub> entregas.
      </p>
      <div data-aos="fade-up-right">
        <img src="../assets/MH3U.jpg" alt="MH3U" height="500" width="400" />
      </div>

      <br />
      <p class="texto_pre_img">
        La cuarta <sup>4ta</sup> generación cuenta con <sub>2</sub> entregas.
      </p>
      <div data-aos="fade-up-left">
        <img src="../assets/MH4U.jpg" alt="MH4U" height="500" width="400" />
      </div>

      <br />
      <p class="texto_pre_img">
        La quinta <sup>5ta</sup> generación cuenta con <sub>2</sub> entregas.
      </p>
      <div data-aos="fade-down-right">
        <img src="../assets/World.jpg" alt="MH World" height="500" width="400" />
      </div>

      <br />
      <p class="texto_pre_img">
        La sexta <sup>6ta</sup> generación cuenta con <sub>1</sub> entrega.
      </p>
      <div data-aos="zoom-in-right">
        <img src="../assets/Wilds.jpg" alt="MH Wilds" height="500" width="400" />
      </div>
    </div>

    <br /><br />

    <a href="https://monsterhunter.fandom.com/es/wiki/Saga_Monster_Hunter" target="_blank" class="link">
        Wiki de Monster Hunter
    </a>

    <br><br>

    <h3 class="texto_pre_img">
      <strong><em> Galería de imágenes </em></strong>
    </h3>

    <section class="galeria">
      <img src="../assets/MH.jpg" alt="Gen 1" />
      <img src="../assets/MH2.jpg" alt="Gen 2" />
      <img src="../assets/Freedom.jpg" alt="Freedom" />
      <img src="../assets/Freedom 2.jpg" alt="Freedom 2" />
      <img src="../assets/Freedom unite.jpg" alt="Freedom Unite" />
      <img src="../assets/MH3.jpg" alt="Gen 3" />
      <img src="../assets/Portable 3 rd.jpg" alt="P3rd" />
      <img src="../assets/MH3U.jpg" alt="3U" />
      <img src="../assets/MH4U.jpg" alt="4U" />
      <img src="../assets/MHGU.jpg" alt="GU" />
      <img src="../assets/World.jpg" alt="World" />
      <img src="../assets/Rise.jpg" alt="Rise" />
      <img src="../assets/Wilds.jpg" alt="Wilds" />
    </section>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>