<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Monstr Hunter Info</title>

    <link href="/../styles/style.css" rel="stylesheet" />
  </head>

  <body>
    <audio src="MHFU.mp3" autoplay></audio>

    <header class="baner">
      <h1>
        <strong><em> Monster Hunter Info </em></strong>
      </h1>

      <a href="../index.html" class="link">Inicio</a>
    </header>

    <br><br>

    <h2 class="titulo">
      <em><strong> Monster Hunter </strong></em>
    </h2>

    <br><br>

    <h4 class="texto">
      Cada entrega de esta franquicia cuneta un monstruo insignia, siendo la
      imagen principal de cada juego.
    </h4>

    <br><br>

    <div class="all">
      <p class="texto_pre_img">Rathalos</p>
      <div data-aos="fade-up-left">
        <img src="/../assets/MH_iconos/MHW-Icono_Rathalos.png" class="imagenes" />
      </div>
      

      <br>
      <p class="texto_pre_img">Rathalos Celeste</p>
      <div data-aos="fade-down-right">
        <img src="/../assets/MH_iconos/MHW-Icono_Rathalos_Celeste.png" class="imagenes"/>
      </div>
      

      <br>
      <p class="texto_pre_img">Kushala Daora</p>
      <div data-aos="zoom-in">
        <img src="/../assets/MH_iconos/MHW-Icono_Kushala_Daora.png" class="imagenes" />
      </div>
      

      <br>
      <p class="texto_pre_img">Tigrex</p>
      <div data-aos="zoom-in-up">
        <img src="/../assets/MH_iconos/MHWI-Icono_Tigrex.png" class="imagenes" />
      </div>
      

      <br>
      <p class="texto_pre_img">Nargacuga</p>
      <div data-aos="zoom-in-down">
        <img src="/../assets/MH_iconos/MHWI-Icono_Nargacuga.png" class="imagenes" />
      </div>
      

      <br>
      <p class="texto_pre_img">Lagiacrus</p>
      
<div data-aos="zoom-in">
  <img src="/../assets/MH_iconos/MH3U-Icono_Lagiacrus.png" class="imagenes" />
</div>

      <br>
      <p class="texto_pre_img">Zinogre</p>
      <div data-aos="zoom-in-right">
        <img src="/../assets/MH_iconos/MHWI-Icono_Zinogre.png" class="imagenes" />
      </div>
      
      <br>
      <p class="texto_pre_img">Brachydios</p>
      <div data-aos="zoom-out">
        <img src="/../assets/MH_iconos/MHWI-Icono_Brachydios.png" class="imagenes"/>
      </div>
      

      <br>
      <p class="texto_pre_img">Gore Magala</p>
      <div data-aos="zoom-out-up">
        <img src="/../assets/MH_iconos/MH4U-Icono_Gore_Magala.png" class="imagenes"/>
      </div>
      

      <br>
      <p class="texto_pre_img">Seregios</p>
      <div data-aos="zoom-out-down">
        <img src="/../assets/MH_iconos/MH4U-Icono_Seregios.png" class="imagenes"/>
      </div>

      <br>
      <p class="texto_pre_img">Glavenus</p>
      <div data-aos="zoom-out-right">
        <img src="/../assets/MH_iconos/MHWI-Icono_Glavenus.png" class="imagenes"/>
      </div>
      
      <br>
      <p class="texto_pre_img">Gammoth</p>
      <img
        src="/../assets/MH_iconos/MHGen-Icono_Gammoth.png"
        class="imagenes"
      />

      <br>
      <p class="texto_pre_img">Mizutsune</p>
      <img
        src="/../assets/MH_iconos/MHGen-Icono_Mizutsune.png"
        class="imagenes"
      />

      <br>
      <p class="texto_pre_img">Astalos</p>
      <img
        src="/../assets/MH_iconos/MHGen-Icono_Astalos.png"
        class="imagenes"
      />

      <br>
      <p class="texto_pre_img">Valstrax</p>
      <img
        src="/../assets/MH_iconos/MHGU-Icono_Valstrax.png"
        class="imagenes"
      />

      <br>
      <p class="texto_pre_img">Diablos Sanguinario</p>
      <img
        src="/../assets/MH_iconos/MHGU-Icono_Diablos_Sanguinario.png"
        class="imagenes"
      />

      <br>
      <p class="texto_pre_img">Nergigante</p>
      <img
        src="/../assets/MH_iconos/MHW-Icono_Nergigante.png"
        class="imagenes"
      />

      <br>
      <p class="texto_pre_img">Velkhana</p>
      <img
        src="/../assets/MH_iconos/MHWI-Icono_Velkhana.png"
        class="imagenes"
      />
    </div>

    <br><br><br><br><br><br><br><br>

    <a
      href="https://monsterhunter.fandom.com/es/wiki/Monstruos_Insignias"
      target="_blank"
      class="link"
      >Wiki de Monster Hunter</a
    >

    <br><br><br><br><br><br><br><br>

    <h3 class="texto_pre_img">
      <strong><em> Galería de imágenes </em></strong>
    </h3>

    <section class="galeria">
      <img src="/../assets/rathalos fondo.jpg" />
      <img src="/../assets/Rathalos celeste.jpg" />
      <img src="/../assets/KushalaDaora.jpg" />
      <img src="/../assets/Tigrex.jpg" />
      <img src="/../assets/Nargacuga.jpg" />
      <img src="/../assets/Lagiacrus.jpg" />
      <img src="/../assets/Zinogre (1).jpg" />
      <img src="/../assets/Brachydios.jpg" />
      <img src="/../assets/Gore Magala.jpg" />
      <img src="/../assets/Seregios.jpg" />
      <img src="/../assets/Glavenuz.jpg" />
      <img src="/../assets/Gammoth.jpg" />
      <img src="/../assets/Mizutsune.jpg" />
      <img src="/../assets/Astalos.jpg" />
      <img src="/../assets/valstrax (1).jpg" />
      <img src="/../assets/Diablos Sanguinario.jpg" />
      <img src="/../assets/Nergigante.jpg" />
      <img src="/../assets/Velkhana.jpg" />
    </section>

    <br><br><br><br><br><br><br><br>
  </body>
</html>
